
<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-4">
      <input
        type="text"
        class="form-control"
        placeholder="Search by name"
        [(ngModel)]="name"
      /> 
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchByName()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
</div>

<table class="table table-success table-striped" >
   <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
       <th scope="col">City</th>
      <th scope="col">Company Name</th> 

    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let td of DisplayUserData; let i = index;">
      <th scope="row">{{i+1}}</th>
      <td >{{td.name}} </td>
      <td>{{td.email}}</td>
       <td>{{td.address.city}}</td>
      <td>{{td.company.name}}</td> 
      <button (click)="deleteuser()"  style="width: 50px;"  >X</button>
    </tr>
    
  </tbody> 
</table>
<button class="btn btn-primary" style="margin-left: 30px;" routerLink="Add">Add New User</button>
<router-outlet></router-outlet> 
